.grid {
  display: table;
  position: absolute;
  z-index: 1;
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 20%;
  left: 0;
  right: 0;
}

#tutorial {
  position: absolute;
  z-index: 3;
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 60%;
  border: 2px solid #34495e;
  border-radius: 4px;
  text-align: center;
  float: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#mainImage {
  height: 50%;
  width: 50%;
}

#tutorialCounter {
  position: absolute;
  right: 48%;
  bottom: 1em;
}

#nextButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 2%;
  bottom: 1em;
}

#previousButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  right: 12%;
  bottom: 1em;
}

#skipButton {
  color: #ffffff;
  background-color: #1abc9c;
  position: absolute;
  left: 2%;
  bottom: 1em;
}

#tutorial > h3 {
  padding-bottom: 0.2em;
}

#tutorial > p {
  padding-bottom: 0.5em;
}

#tutorial > h4 > ul {
  padding-left: 5%;
  margin-top: 3%;
}

#tutorial > h4 > ul > li {
  margin-bottom: 2%;
  text-align: left;
}
